---
import { Icon } from "astro-icon";

type CommonPageProps = {
  title: string;
  subTitle?: string;
  next?: string;
  prev?: string;
  resource?: string;
  type?: "header" | "sub-section";
  class?: string;
};

type FirstPage = {
  isFirstPage: boolean;
} & CommonPageProps;

type Page = {
  page: number;
} & CommonPageProps;

type LastPage = {
  isLastPage: boolean;
} & CommonPageProps;

type Props = FirstPage | Page | LastPage;

/**
 * fix Netlify relative path navigation issue
 */
const addBasedPath = (lastSegment: string) =>
  `/national-coding-day/${lastSegment}`;

const {
  isLastPage = false,
  isFirstPage = false,
  page,
  next = isFirstPage ? "1" : `${page + 1}`,
  prev = `${page - 1}`,
  title = "",
  subTitle = "",
  resource = "",
  type = "sub-section",
} = Astro.props;
const nextPage = addBasedPath(next);
const prevPage = addBasedPath(prev);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div
      class={`w-screen h-screen bg-black flex flex-col justify-between px-20 py-5 ${
        Astro.props?.class ?? ""
      }`}
    >
      <div>
        {
          type === "sub-section" && (
            <div>
              <h1 class="text-7xl text-white">{title}</h1>
              {subTitle && (
                <h2 class="w-full text-5xl text-white text-left">{subTitle}</h2>
              )}
            </div>
          )
        }
      </div>

      {
        type === "header" && (
          <div class="flex flex-col w-full h-full justify-center">
            <h1 class="text-9xl text-white break-words">{title}</h1>
            {subTitle && (
              <h2 class="w-full text-6xl text-white text-left">{subTitle}</h2>
            )}
          </div>
        )
      }
      <slot />
      {
        resource && (
          <a
            href={resource}
            target="_blank"
            class="w-full text-white text-xs text-end hover:cursor-pointer hover:text-yellow-300"
          >
            {resource}
          </a>
        )
      }
      <nav class="flex justify-center mt-4">
        <div class="flex gap-2">
          <a
            href={prevPage}
            class={`text-white ${isFirstPage ? "pointer-events-none" : ""}`}
          >
            <Icon
              name="charm:chevron-left"
              class={`text-gray-500 fill-current w-20 ${
                isFirstPage ? "" : "hover:text-gray-50"
              }`}
            />
          </a>
          <a
            href={nextPage}
            class={`text-white ${isLastPage ? "pointer-events-none" : ""}`}
          >
            <Icon
              name="charm:chevron-right"
              class={`text-gray-500 fill-current w-20 ${
                isLastPage ? "" : "hover:text-gray-50"
              }`}
            />
          </a>
        </div>
      </nav>
    </div>
  </body>
</html>
