---
import { Icon } from "astro-icon";

interface Props {
  page: number;
  title?: string;
  subTitle?: string;
}

/**
 * fix Netlify relative path navigation issue
 */
const addBasedPath = (lastSegment: string) =>
  `/national-coding-day/${lastSegment}`;

const { page, title = "", subTitle = "" } = Astro.props;
const next = addBasedPath(`${page + 1}`);
const prev = addBasedPath(page === 1 ? "" : `${page - 1}`);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div
      class="w-screen h-screen bg-black flex flex-col justify-between px-20 py-10"
    >
      <div>
        {title && <h1 class="text-9xl text-white">{title}</h1>}
        {
          subTitle && (
            <h1 class="w-full text-6xl text-white text-left">{subTitle}</h1>
          )
        }
      </div>
      <slot />
      <div class="flex justify-center">
        <div class="flex gap-2">
          <a href={prev} class="text-white"
            ><Icon
              name="charm:chevron-left"
              class="text-gray-500 fill-current w-20 hover:text-gray-50"
            /></a
          >
          <a href={next} class="text-white"
            ><Icon
              name="charm:chevron-right"
              class="text-gray-500 fill-current w-20 hover:text-gray-50"
            /></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
